.gender{
    display: flex;
}
input[type="radio"]{
    margin-right: 2px;
}
h1{
    color:black;
}
form{
    border: 2px solid black;
    width:fit-content 1px;
    padding: 5px;
}
button[type="submit"]{
    background-color:lightgray;
    color: black;
    border: 0px;
}
button[type="reset"]{
    background-color:lightgrey;
    color: black;
    border: 0px;
}
/* .password{
    input[type='password']
} */
.container {
    display: flex;
    flex-direction: row;
  }
  /* nav{
    background: blanchedalmond;
    width: 360px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 22px;
  } */

  