body {
    font-family: "Avenir Next";
}

.title-about-me{
    text-align: center; 
}
.image{
    text-align: center; 
}
.p-about-me{
    margin-left: 200px;
    margin-right: 180px;
}
.p-about-me p{
    text-indent:50px;
}

.nav-menu nav a{
    margin-right: 30px;
}
.title-skill{
    text-align: center; 
}
.title-contact{
    text-align: center; 
}
